
body {
  /*background-image: url(/images/websitebackground.png);
  background-size:160%;
  background-position: center*/
  background-color: black;
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
} 
/* 
Nav elements start */


#slidingelementhk {
    display:inline-block;
    transition: transform 0.3s ease-in-out;
    
}

#slidingelementhk {
  position:fixed;
  margin: top -300px;
  margin-left:-830px;
  top: 150px;
}

#slidingelementhk:hover {
  transform: translate(225px, 0px);
}

#slidingelementuf {
  display:inline-block;
  transition: transform 0.3s ease-in-out;
  
}

#slidingelementuf {
position: fixed;
top: 200px;
margin-left:-830px;
top: 10px;
}

#slidingelementuf:hover {
transform: translate(225px, 0px);
}

#slidingelementpy {
    display:inline-block;
    transition: transform 0.3s ease-in-out;
    
  }
  
#slidingelementpy {
position: fixed;
top: 300px;
z-index: -2px;
left: -300;
margin-left:-840px;
}
  
#slidingelementpy:hover {
transform: translate(235px, 0px);
}
 
#slidingelementcom {
    display:inline-block;
    transition: transform 0.3s ease-in-out;
    
  }
  
#slidingelementcom {
position: fixed;
top: 0px;
left: -300;
margin-left:-910px;
top: 550px;
}
  
#slidingelementcom:hover {
transform: translate(295px, 0px);
}

#slidingelementmc {
  display:inline-block;
  transition: transform 0.3s ease-in-out;
  
}

#slidingelementmc {
position: fixed;
top: 0px;
left: -00;
margin-left:-310px;
top: 670px;
}

#slidingelementmc:hover {
transform: translate(295px, 0px);
}
/* 
End of nav elements */


/* page stuff */
#pagebase {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  

 }
 
 #dragonlogo {
   display: flex;
   flex-direction: column;
   -ms-flex-align: center;

 }
 
 #dragonlogobackboard {
  position: relative; 
  display: flex;
   flex-direction: column;
  top: -2200px;
   z-index: -1;
 }
 
 #backgroundfuture {
  position: relative; 
  display: flex;
   justify-content: center;
   z-index: -5;
   top: -100px;
   left: -140px;
 }
 
 #minilogo {
position: relative;
  display: flex;
justify-content: center;
margin-top: -2200px;
 }


#boder-placeholder{
  position: relative;
  display: flex;
  justify-content: center;
}