
body {
  /*background-image: url(/images/websitebackground.png);
  background-size:160%;
  background-position: center*/
  background-color: black;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
} 
/* 
Nav elements start */


#slidingelementhk {
    display:inline-block;
    transition: transform 0.3s ease-in-out;
    
}

#slidingelementhk {
  position: fixed;
  margin: top -300px;
  margin-left:-830px;
  top: 150px;
}

#slidingelementhk:hover {
  transform: translate(225px, 0px);
}

#slidingelementuf {
  display:inline-block;
  transition: transform 0.3s ease-in-out;
  
}

#slidingelementuf {
position: fixed;
top: 200px;
margin-left:-830px;
top: 10px;
}

#slidingelementuf:hover {
transform: translate(225px, 0px);
}

#slidingelementpy {
    display:inline-block;
    transition: transform 0.3s ease-in-out;
    
  }
  
#slidingelementpy {
position: fixed;
top: 300px;
z-index: -2px;
left: -300;
margin-left:-840px;
}
  
#slidingelementpy:hover {
transform: translate(235px, 0px);
}
 
#slidingelementcom {
    display:inline-block;
    transition: transform 0.3s ease-in-out;
    
  }
  
#slidingelementcom {
position: fixed;
top: 0px;
left: -300;
margin-left:-910px;
top: 550px;
}
  
#slidingelementcom:hover {
transform: translate(295px, 0px);
}

#slidingelementmc {
  display:inline-block;
  transition: transform 0.3s ease-in-out;
  
}

#slidingelementmc {
position: fixed;
top: 0px;
left: -00;
margin-left:-310px;
top: 670px;
}

#slidingelementmc:hover {
transform: translate(295px, 0px);
}

#move-logos{
  position: fixed;
  left: 600px;
}
/* 
End of nav elements */


/* page stuff */
 #dragonlogo {
  position: relative;
   display: flex;
   top: -700px;
   left: -1530px;
 }
 
 #dragonlogobackboard {
  position: relative; 
  display: flex;
 z-index: -50;
 top: -3400px;
 left: -500px;
 }
 
 #backgroundfuture {
  position: relative; 
  display: flex;
   justify-content: center;
   z-index: -50;
   top: -500px;
   left: -1570px;
}
 
#minilogo {
position: relative;
display: flex;
justify-content: center;
top: -3200px;
left: -2100px;

scale: 1;
transition: all 0.3s ease-in-out;
}

#minilogo:hover{
  transition-duration: .2s;
transition-delay: 2;
scale: 1.03
}


#border-placeholder{
  position: relative;
  display: flex;
  justify-content: center;
}

.page{
  position: relative;
  display: flex;
  justify-content: center;
  top: 700px;
  left: 1500px;
}

/* Home */
#banner{
  position: relative;
  display: flex;
  justify-content: center;
  border: rgba(72, 242, 170, 0.75)  solid 7px;
  left: -65px;
  z-index: 5;
  top: -219px;
}

#aboutme{
  position: relative;
  display: flex;
  justify-content: center;
  top: -200px;
  scale: 1;
  transition: all 0.7s ease-in-out;
   }
  
  #aboutme:hover{
    transition-duration: .2s;
  transition-delay: 2;
  scale: 1.03
  }

#eyes{
  position: relative;
  display: flex;
  justify-content: center;
  top: -600px;
  left: 700px;
  border: rgba(72, 242, 170, 0.75)  solid 7px;
  scale: 1;
  transition: all 0.7s ease-in-out;
   }

#reunicard{
  position: relative;
  display: flex;
  justify-content: center;
 top: -500px;
 left: 100px;
 scale: 1;
 transition: all 0.7s ease-in-out;
  }
 
 #reunicard:hover{
   transition-duration: .2s;
 transition-delay: 2;
 scale: 1.4
 }

#currentwork{
  position: relative;
  display: flex;
  justify-content: center;
  top: -900px;
  left: 700px;
  scale: 1;
transition: all 0.7s ease-in-out;
 }

#currentwork:hover{
  transition-duration: .2s;
transition-delay: 2;
scale: 1.03
}


#logos{
  position: relative;
  display: flex;
  justify-content: center;
  top: -700px;
  left: 100px;
  scale: 1;
transition: all 0.7s ease-in-out;
 }

#logos:hover{
  transition-duration: .2s;
transition-delay: 2;
scale: 1.09
}

.homepage{
  position: relative;
  display: flex;
  top: -100px;
  left: 500px;
}

/* Pyre */
#pyrehex{
  position: relative;
  display: flex;
  justify-content: center;
  top: -150px;
  left: -400px;
  scale: 1;
transition: all 0.7s ease-in-out;
 }

#pyrehex:hover{
  transition-duration: .2s;
transition-delay: 2;
scale: 1.03
}

#grouppyre{
  position: relative;
  display: flex;
  justify-content: center;
  top: -600px;
  left: 400px;
  border: rgba(72, 242, 170, 0.75)  solid 7px;
}

#airbattlepyre{
  position: relative;
  display: flex;
  justify-content: center;
  top: 00px;
  left: 285px;
  border: rgba(72, 242, 170, 0.75)  solid 7px;
}

#quollvines{
  position: relative;
  display: flex;
  justify-content: center;
  top: -1200px;
  left: 385px;
  border: rgba(72, 242, 170, 0.75)  solid 7px;
}

#books{
  position: relative;
  display: flex;
  justify-content: center;
  top: -1200px;
  left: -350px;
  scale: 1;
  transition: all 0.7s ease-in-out;
   }
  
  #books:hover{
    transition-duration: .2s;
  transition-delay: 2;
  scale: 1.03
  }

  #grouppyrestanding{
    position: relative;
    display: flex;
    justify-content: center;
    top: -3200px;
    left: -325px;
    border: rgba(72, 242, 170, 0.75)  solid 7px;
  }